.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  margin: 20px auto 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  height: 344px;
  margin: 20px auto 70px;
  border-radius: 12px;
  border: 4px solid #262626;
  border-radius: 8px;
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gridItem {
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 8px;
  width: 87px;
  height: 108px;
}

.poster {
  object-fit: cover;
  opacity: 0.8;
  filter: grayscale(20%) brightness(0.8);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 20px;
  width: 100%;
  background: #0f0f0f;
  border: 1px solid #262626;
  border-radius: 10px;
  margin-bottom: 40px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  margin-bottom: 20px;
}

.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.phoneInputWrapper {
  width: 100%;
}

.phoneInputWrapper :global(.react-international-phone-country-selector-button) {
  background: #141414 !important;
  border: 1px solid #262626 !important;
  border-right: none !important;
  border-radius: 6px 0 0 6px !important;
  height: 53px;
  width: 70px;
}

.phoneInputWrapper
  :global(.react-international-phone-country-selector-dropdown) {
  background: #141414 !important;
  border: 1px solid #262626 !important;
  color: white;
}

.phoneInputWrapper
  :global(.react-international-phone-country-selector-dropdown__list-item) {
  color: white;
}

.phoneInputWrapper
  :global(
    .react-international-phone-country-selector-dropdown__list-item:hover
  ) {
  background: #262626 !important;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 53px !important;
  background: #141414 !important;
  border: 1px solid #262626 !important;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 21px;
  color: #999999 !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus,
.inputMessage:-webkit-autofill {
  -webkit-text-fill-color: #999999!important;
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset !important; 
  transition: background-color 5000s ease-in-out 0s;
}

.input:hover {
  border-color: #333333;
  background: #1a1a1a;
}


.input:focus {
  outline: none; 
  border-color: #4d4d4d; 
  background: #0f0f0f;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05);
}

.inputMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 109px;
  background: #141414 !important;
  border: 1px solid #262626 !important;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 21px;
  color: #999999 !important;
}

.error {
  color: #ff4d4d;
  font-size: 12px;
}

.errorCheckbox {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 7px;
}

.checkboxGroup {
  margin-bottom: 20px;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.checkbox:checked {
  background-color: #1a1a1a;
  border-color: #444;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid #e50914;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox:hover {
  border-color: #333;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;
  width: 100%;
  height: 49px;
  background: #e60000;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.submit:hover {
  background: #ff1a1a;
}

@media (min-width: 768px) {
  .containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    margin: 20px auto 0;
  }

  .content {
    padding: 0 30px;
  }

  .container {
    max-width: 708px;
    height: 380px;
  }

  .grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .gridItem {
    width: 100px;
    height: 120px;
  }
}

@media (min-width: 1440px) {
  .containerr {
    max-width: 1440px;
  }

  .content {
    padding: 0 108px;
  }

  .intro {
    padding: unset;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 430px;
  }

  .container {
    width: 430px;
    height: 380px;
  }

  .text {
    font-size: 16px;
    width: unset;
  }

  .grid {
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
  }

  .gridItem {
    width: 84px;
    height: 119px;
    aspect-ratio: 16/9;
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  .containerr {
    max-width: 1944px;
  }

  .content {
    padding: 0 138px;
  }

  .container {
    width: 533px;
    height: 380px;
  }

  .title {
    font-size: 38px;
  }

  .text {
    font-size: 18px;
  }

  .gridItem {
    width: 105px;
    height: 118px;
  }
}
