.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  margin: 20px auto 0;
  margin-bottom: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
  max-width: 375px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.textt {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  margin-top: 10px;
}

.switch {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 375px;
  height: 61px;
  background: #0f0f0f;
  border: 1px solid #262626;
  border-radius: 8px;
  margin-top: 20px;
}

.btnn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #999999;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 185px;
  height: 45px;
}

.btnActive {
  gap: 10px;
  background: #1f1f1f;
  border-radius: 6px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  background: #0f0f0f;
  border: 1px solid #262626;
  border-radius: 12px;
  margin-top: 20px;
}

.above, .underneath {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  row-gap: 24px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #f1f1f3;
}

.planContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

@media (min-width: 768px) {
  .containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
  }

  .content {
    margin: -20px auto 70px;
    max-width: 708px;
  }
}

@media (min-width: 1440px) {
  .containerr {
    max-width: 1440px;
    margin-top: 60px;
  }

  .textt {
    font-size: 16px;
    width: unset;
  }
}

@media (min-width: 1920px) {
  .containerr {
    max-width: 1944px;
  }

  .title {
    font-size: 38px;
  }

  .textt {
    font-size: 18px;
  }
}
