.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: black;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.title {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  margin-top: 15px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  inset: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.grid::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    #0f0f0f 0%,
    #0f0f0f 30%,
    rgba(230, 0, 0, 0.4) 95%,
    #140f0f 60%,
    #1a0d0d 80%,
    rgba(230, 0, 0, 0.4) 95%,
    rgba(230, 0, 0, 0.5) 100%
  );
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

.gridItem {
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 8px;
  width: 137px;
  height: 168px;
}

.poster {
  object-fit: cover;
  opacity: 0.25;
  filter: grayscale(20%) brightness(0.8);
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  gap: 40px;
  isolation: isolate;
  position: relative;
  max-width: 390px;
  height: 324px;
  border: 1px solid #262626;
  border-radius: 12px;
  z-index: 10;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  background: #e60000;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  margin-top: 0;
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: #ff1a1a;
}

@media (min-width: 768px) {
  .container {
    max-width: 708px;
    padding: 0;
    align-items: start;
    height: 204px;
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .gridItem {
    width: 110px;
    height: 100px;
  }

  .overlay {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    max-width: 708px;
    width: 100%;
    height: 204px;
    gap: 20px;
  }

  .title {
    width: auto;
    text-align: left;
    margin: 0;
  }

  .text {
    text-align: left;
    width: 380px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1224px;
    padding: 0;
    height: 236px;
  }

  .text {
    font-size: 16px;
    width: unset;
  }

  .content {
    justify-content: center;
  }

  .grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
  }

  .gridItem {
    width: 134px;
    height: 74px;
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  .overlay {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    max-width: 1440px;
    width: 100%;
    height: 236px;
    gap: 20px;
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1644px;
    padding: 0;
  }

  .title {
    font-size: 38px;
  }

  .text {
    font-size: 18px;
  }

  .grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
  }

  .gridItem {
    width: 134px;
    height: 74px;
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  .overlay {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    max-width: 1920px;
    width: 100%;
    height: 236px;
    gap: 20px;
    overflow: hidden;
  }
}
